src/test/resources/documents/validation-successfully/main-order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.org/main"
           xmlns:m="http://www.example.org/main"
           xmlns:dt="http://www.example.org/datatypes"
           xmlns:prod="http://www.example.org/product"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.example.org/datatypes" schemaLocation="datatypes.xsd"/>
    <xs:import namespace="http://www.example.org/product" schemaLocation="product.xsd"/>

    <xs:element name="SpaceOrder">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OrderId" type="dt:String50"/>
                <xs:element name="CustomerEmail" type="dt:EmailType"/>
                <xs:element name="OrderDate" type="xs:date"/>

                <xs:element name="Items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Item" type="prod:ProductItem" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>